<?xml version="1.0" encoding="utf-8" ?>
<configuration  xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<indexing.filterIndex.inbound>

				<processor type="SitecoreExtentions.Pipeline.Indexing.ApplyInboundIndexVersionFilter, SitecoreExtentions"
						   patch:after="processor[@type='Sitecore.ContentSearch.Pipelines.IndexingFilters.ApplyInboundIndexFilter, Sitecore.ContentSearch']"/>
				<processor type="SitecoreExtentions.Pipeline.Indexing.ApplyInboundIndexStandardValuesFilter, SitecoreExtentions"
						   patch:after="processor[@type='Sitecore.ContentSearch.Pipelines.IndexingFilters.ApplyInboundIndexFilter, Sitecore.ContentSearch']"/>

			</indexing.filterIndex.inbound>

			<indexing.filterIndex.outbound>

				<processor type="SitecoreExtentions.Pipeline.Indexing.ApplyOutboundIndexWorkflowFilter, SitecoreExtentions"
		   patch:after="processor[@type='Sitecore.ContentSearch.Pipelines.IndexingFilters.ApplyOutboundSecurityFilter, Sitecore.ContentSearch']"/>

			</indexing.filterIndex.outbound>

		</pipelines>
	</sitecore>
</configuration>